body {
    padding: 1rem;
}

img {
    width: 30%;
}

p::first-letter {
    text-transform: uppercase;
}

blockquote {
    color: darkorange;
}

blockquote::before {
    content: "\f044";
    color: black;

}

h1,
h2 {
    color: brown;
}

a {
    color: darkgoldenrod;
}